[2016-01-04 07:53] carueda opened #2 "self-dispatch portal interface"
When the service determines requests are for HTML purposes, then display the [orr-portal](https://github.com/mmisw/orr-portal) application directly.

(similar to https://github.com/mmisw/mmiorr/issues/364, but orr-ont never did any redirection -- "html" responses were not considered at all.)

[2016-01-04 07:55] carueda commented on #2
Good progress in de90f84d8a toward version 0.1.0

[2016-01-14 21:01] carueda opened #3 "use mongo-scala-driver/"
Instead of the "legacy" [casbah driver](https://docs.mongodb.org/ecosystem/drivers/scala/#casbah), use
http://mongodb.github.io/mongo-scala-driver/, which is "the officially supported Scala driver for MongoDB"

[2016-04-06 07:34] carueda opened #5 "dockerize"
Create docker based distribution of orr-ont server.

[2016-05-11 00:29] carueda commented on #5
Implemented.

[2016-05-11 00:29] #5 closed

[2016-05-13 23:44] carueda commented on #2
This is almost complete and being tested along with many other additions/improvements..

[2016-06-03 03:53] #2 closed

[2016-06-09 00:23] carueda opened #10 "capture visibility attribute for ontologies"
There are 3 values for the ontology 'visibility' attribute:

1. 'Visible only to the owner'. Depending on the designated owner, this means:
  - only visible to the submitting user when no associated organization is designated as the "owner"
  - only visible to the members of the selected organization
2. 'Visible only to logged-in users'
3. 'Public'  (visible to any visitor / API-accessible with no

[2016-06-09 00:38] carueda opened #11 "capture status"
Similar to #10 for the "old" system, the task here is to capture a status attribute for every ontology version. As indicated in https://github.com/mmisw/mmiorr/issues/279 a relevant reference is  https://www.w3.org/2003/06/sw-vocab-status/note.html. Ideally we would use an existing status vocabulary, but, if nothing satisfactory is found, we could just ahead and define our own.

@graybeal FYI and

[2016-06-09 01:08] carueda commented on #11
I think I will just start working with http://www.w3.org/2003/06/sw-vocab-status/ns , the vocabulary discussed in the mentioned [reference](https://www.w3.org/2003/06/sw-vocab-status/note.html), which has the following as possible status values:

[2016-06-13 16:31] carueda opened #13 "email notifications"
As in ORR v2, this is about sending emails to configured set of addresses about registrations (users and ontologies).

[2016-06-13 18:04] carueda opened #14 "dispatch term request"
Focus so far has been on the ontology URI requests but it's time to start handling individual term URI requests.

[2016-06-14 00:03] carueda commented on #10
Implemented.

- `POST` and `PUT` `/ont` now accept a `visibility` parameter.  Possible values: "owner", "user", "public".  Default value: "owner".

- `GET /ont`  (no specific URI requested): returns list according to requester and visibility as specified.

**Note**:  The visibility attribute is mainly only for purposes of the main ontology listing. So:

- no restriction if specific ontology URI is

[2016-06-19 01:25] #14 closed

[2016-06-24 19:36] carueda commented on #10
Per discussion today, re-opening to only handle the "owner" and "public" option.

[2016-06-24 20:04] #10 closed

[2016-06-26 00:19] carueda opened #16 "cannot load external http://w3c.github.io/sdw/ssn/"
Looks like a bad or lack of proper content negotiation in the Jena call to retrieve the ontology so unexpected HTML is being returned as the representation:

[code]

[code]

[code]

[2016-06-26 00:53] carueda commented on #16
Well, closing as invalid:  the actual ontology URI is: http://www.w3.org/ns/ssn/ as indicated in the Abstract at https://www.w3.org/TR/vocab-ssn/

However, will enter another issue re better error reporting when the provided URL does not resolve to acceptable ontology serialization formats.

[2016-06-26 00:53] #16 closed

[2016-06-26 00:54] carueda opened #17 "improve error message when failing to load URL for external ontology"
Related with #16

[2016-06-26 00:57] carueda commented on #16
@fgayanilo FYI

[2016-06-26 01:09] carueda commented on #17
Will be handled by the front-end, see https://github.com/mmisw/orr-portal/issues/38

[2016-06-26 01:09] #17 closed

[2016-06-26 17:29] carueda opened #18 "gcoos Parameter.owl"
(initially captured at https://github.com/mmisw/orr-portal/issues/37)

http://cor.esipfed.org/ont3/?uri=http://data.gcoos.org/dp/data/Parameters.owl

triggers:

![2016-06-24_1310](https://cloud.githubusercontent.com/assets/556505/16349473/fb8f624c-3a0d-11e6-9c24-f814710e4169.png)

[2016-06-26 18:42] #18 closed

[2016-06-26 18:43] carueda commented on #18
Actually the file extension is not a issue at all. But the file was uploaded with the "OWL/XML"
format option but the "RDF/XML" would have been more appropriate.
This is not explained in the orr-portal; in particular the ".owl" extension for files that are
actually in RDF/XML if often used, so, at time of uploading, users may tend to pick the "OWL/XML" option.

The fix here was just to add "owl" t

[2016-06-26 19:09] carueda opened #19 "uploading of OWX ontology with unresolvable Imports fails"
Example from https://www.w3.org/TR/owl2-xml-serialization/#Example_Ontology_.28Informative.29

[code]

Uploading such file causes:

[code]

The default in the OWL API is to load `Import`s and throw exception upon any failure. So, we just need to instruct it to not load any Imports, which aligns with our current overall scheme of things.

[2016-06-26 19:21] #19 closed

[2016-07-08 17:50] #11 closed

[2016-07-08 17:53] carueda commented on #11
**Note**: The status attribute is an optional string in the ontology version model in the database, with not forced set of possible values. It's up to client applications to determine the acceptable values. See https://github.com/mmisw/orr-portal/issues/13 .

[2016-07-18 03:25] carueda opened #20 "v2r: for a property definition allow to indicate vocabulary from which to select values"

[2016-07-18 04:03] #20 closed

[2016-07-28 03:18] carueda opened #21 "recaptcha"

[2016-07-28 05:55] carueda commented on #21
fixed with a9866c207fbfd8055c9a5f6b2027dc3ebf9e23cf (seems like the recent github outage prevented this commit from automatically closing this issue..)

See https://github.com/mmisw/orr-portal/issues/66

[2016-07-28 05:55] #21 closed

[2016-08-15 22:06] carueda opened #22 "backups"
Set up backup procedures.

This is in particular for the [docker-based](#5) deployment:

- backup for all contents under `$ORR_ONT_BASE_DIR`
- the above is file based; so we should also have proper backup of the Mongo data
- strictly, no need for backup of the triple store mainly because it can be reloaded completely from the above

[2016-08-15 22:12] carueda opened #23 "startup script"
Determine and implement startup script for docker and the ORR containers.

At its simplest, it would basically be a cronjob to run:

    @reboot docker start mongo agraph orr-ont

But investigate possible better (more standard?) mechanisms.

[2016-08-15 22:19] carueda opened #24 "generate API documentation"
That is, automatically from the code.

Currently, this is generated pseudo-manually by editing a file with http://editor.swagger.io/, and using the swagger.yaml as a basis for actual documentation sites using [swagger-ui](http://swagger.io/swagger-ui/).  Those sites are linked from http://mmisw.org/orrdoc/api/

Although the manual editing of the specification is OK in general (in fact, actually ve

[2016-08-15 22:26] carueda opened #25 "remove firebase"
Arising from preliminary experimentation with authentication mechanisms (many months ago), at this point Firebase is still being used as part of the workflow. But we are not actually using much of firebase (in fact, we keep our own user collection in mongo), while at the same we are creating an extra dependency that should be avoided.

[2016-08-16 17:09] #13 closed

[2016-08-17 01:46] carueda opened #28 "simplify docker-based deployment procedure"

[2016-08-30 22:47] carueda opened #29 "triple store not being updated"
Upon ontology submission, the information is not reflected in any queries.
And indeed the ORR logs show errors trying to connect to the triple store server.

This has been noted in the COR instance as well as in the new XDOMES ORR instance.

[2016-08-30 23:42] #29 closed

[2016-09-04 15:49] #25 closed

[2016-09-04 23:45] carueda commented on #23
Closing as this is actually outside of the ORR system itself.

(Can be addressed in documentation though.)

[2016-09-04 23:45] #23 closed

[2016-09-04 23:47] carueda commented on #22
Closing as this is actually outside of the ORR system itself.

[2016-09-04 23:47] #22 closed

[2016-10-29 20:34] carueda opened #31 "https == http for purposes of IRI identification"
See initial discussion at https://github.com/mmisw/mmiorr/issues/292

orr-ont will handle `https` and `http` requests as interchangeable.

@graybeal FYI

[2016-10-30 17:52] #31 closed

[2016-10-30 18:02] carueda commented on #31
Note: The https==http handling only performed in self-resolution, which is where it most makes sense to facilitate the resolution.

(Access via the API (`GET /api/v?/ont?uri=...`) continues to be exactly by the given URI.)

[2016-10-30 18:05] carueda opened #32 "URIs should be IRIs"
Backend counterpart of https://github.com/mmisw/orr-portal/issues/48

(Summary of changes in RDF 1.1, which uses IRIs - https://www.w3.org/TR/rdf11-new/#identifiers)

[2016-11-10 22:23] carueda commented on #32
The RFC: https://www.ietf.org/rfc/rfc3987.txt

[2017-01-29 04:12] graybeal opened #33 "sparql endpoint appears to be down"
Queries from the COR interface are not working. See screenshot.

<img width="1128" alt="screen shot 2017-01-28 at 8 09 43 pm" src="https://cloud.githubusercontent.com/assets/1266896/22401789/0286f0c2-e596-11e6-8820-32150d68df3d.png">

[2017-01-30 05:17] carueda commented on #33
Perhaps a cache issue in your case? I just tried and it worked for me, including with a cache-clearing and hard refresh..

![2017-01-29_2113](https://cloud.githubusercontent.com/assets/556505/22412923/08e274be-e668-11e6-8e2b-660bfe64d142.png)

![2017-01-29_2114](https://cloud.githubusercontent.com/assets/556505/22412945/401cc452-e668-11e6-88d4-88d0e894263f.png)

[2017-01-30 06:58] graybeal commented on #33
Works fine for me now too, without any cache clearing or anything. So, cool.

[2017-01-30 06:58] #33 closed

[2017-02-01 18:15] carueda opened #34 "cannot reset password"
Noticed by Nonong with the XDOMEs ORR instance.

By looking at the log (`docker -f logs orr-ont`) I note that the "standard" call to retrieve the base URL of the application (used to compose the next "your password has been reset" html page) failed with a NPE:

[code]

I re-started the application and tried to reproduce (with my carueda account). The NPE is not happening. but I cannot get to advan

[2017-02-01 19:22] #34 closed

[2017-02-01 19:23] carueda commented on #34
Fix installed on the xdomes instance.  orr-ont version 3.1.7.  (note: the portal still shows v3.1.6)

[2017-02-01 22:05] carueda commented on #32
@graybeal  Any comments to my proposal here?

[2017-02-01 22:30] graybeal commented on #32
Well, I've perhaps prematurely taken you up on renaming the documentation, most of it now uses the term IRIs.

I was under the impression that making it possible to use IRIs in software would be basically a matter of using IRI-compatible libraries, and that most libraries at this stage (that we'd be likely to use, anyway) would be IRI-compatible. As I understood it last time I looked (several year

[2017-02-04 00:00] carueda commented on #24
The use of the external editing of the api documentation has in fact proved to good enough. Decided to close this one.

[2017-02-04 00:00] #24 closed

[2017-02-04 00:01] carueda commented on #28
This is [satisfactorily accomplished already](http://mmisw.org/orrdoc/install/).
Closing.

[2017-02-04 00:01] #28 closed

[2017-02-04 00:02] carueda commented on #3
Not a concern for the time being, so closing.

[2017-02-04 00:02] #3 closed

[2017-02-07 01:10] carueda opened #35 "API operation to insert new terms in vocabulary"
Corresponding entry in old system: https://github.com/mmisw/mmiorr/issues/231

@mikebotts @jjfredericks @graybeal  FYI

[2017-02-13 16:29] carueda commented on #35
The addition of the new terms **will not** generate a new version of the corresponding vocabulary.

[2017-02-13 17:01] carueda opened #36 "API operation to modify a term in vocabulary"
Related: #35 ,  https://github.com/mmisw/mmiorr/issues/231

Whether or not a new version of vocabulary is generated depends on the status of the vocabulary:

| vocab status | new version? |
|--|--|
| draft |  no |
| unstable |  no |
| testing |  _param_ |
| stable |  yes |
| deprecated |  yes |
| archaic |  yes |

_param_ means that a parameter can be used to explicitly indicate the desired effect

[2017-02-14 19:10] carueda commented on #35
Preliminary `POST /ont/term` in v3.2.1.

Adds a single new term. Parameters:

- vocUri:    URI of ontology
- version:   ontology version (optional)
- classUri:  class of specific vocabulary (optional). If not given,
			 and there's only one class in the ontology, then uses it.
			 Otherwise, error.
- one of termName or termUri to indicate the URI for the new term (required)
- attributes: array of

[2017-02-16 00:41] carueda opened #37 "triple duplications in metadata of mapping ontologies"
Related: https://github.com/mmisw/orr-portal/issues/57

![2017-02-15_1640](https://cloud.githubusercontent.com/assets/556505/23002074/907bb93e-f39d-11e6-8f39-a55fd081cf8c.png)

[2017-02-16 01:07] #37 closed

[2017-02-16 01:11] carueda opened #38 "triple duplications in metadata of vocabulary ontologies"
Related: #37

![2017-02-15_1710](https://cloud.githubusercontent.com/assets/556505/23002834/c0b0faf2-f3a1-11e6-98e8-153010a77e23.png)

[2017-02-16 01:18] #38 closed

[2017-02-16 03:37] carueda commented on #32
Agree, hopefully no "big cost", but I'd like to get some input that you can get from your team in terms of any gotchas and such.  Yes, the libraries used by ORR have long supported IRIs, but I guess my concern is more at the level of how such IRIs are handled by browsers and client application in terms of corresponding encoding toward transfer to the backend, and how they should be decoded in the

[2017-02-17 02:52] carueda opened #39 "Allow to register a remote URL"
In old system: https://github.com/mmisw/mmiorr/issues/34

[2017-02-17 03:22] carueda opened #40 "version tagging"
In old system: https://github.com/mmisw/mmiorr/issues/19

The general version tagging needs some careful analysis. For example, we should probably "respect" any original version tagging --like in the set of SWEET 2.3 ontologies. What we currently call "version" is basically just a submission timestamp. Users should have the option to explicitly indicate the version string, etc.

[2017-02-17 04:02] carueda opened #41 "watchdog: automated registration"
In old system: https://github.com/mmisw/mmiorr/issues/251

I think the initial implementation approach should/could be in separate tools, like [cf2rdf](https://github.com/mmisw/cf2rdf) (specifically for CF), and our most recent one, [orr-reg](https://github.com/mmisw/orr-reg), which currently is for SWEET but could be made more generic. Perhaps after some initial working prototypes, we can decide

[2017-02-17 04:07] graybeal commented on #41
I still think this is a significant limitation of the system (or to put it more positively, would be a huge plus for the system), and is not terribly difficult to implement in a fully generic way. (If attribute autoupdate is true, download the ontology resource specified by the Original Source (or similar attribute), and if different from existing download (might have to keep and check against a c

[2017-02-17 04:12] carueda commented on #41
Ok, so I just marked it high priority (not sure about deadline, though)

[2017-02-17 04:13] graybeal commented on #41
Yes, no deadline for this, there is no immediate user requirement.

[2017-02-17 04:40] carueda commented on #41
Closely related: #39

An option to specify a URL (instead of local file) will be incorporated in the first page of the current "Upload" sequence.

When selecting a URL, the user could indicate an number of possible "watchdog" options:

- Automated registration of new versions:
  - `(√ )` Do not do perform
  - `( )` Perform automated processing:
    - '( )' Check for updates every (.. day, week, ..

[2017-02-17 07:25] graybeal commented on #41
I don't see a significant value in the web hook option (well, very nice for CF and maybe SWEET or others, I see how that would be nice -- but not essential if it's hard), and definitely not for the ability to set status on auto-uploads.

It is a given that the resource at the named URL is under the control of the ontology provider, so whatever status they give the ontology originally, the rest of

[2017-02-18 23:42] #39 closed

[2017-02-18 23:49] carueda commented on #39
In v3.2.2,  the various submission operations (`POST /ont/upload`, `POST /ont`, `PUT /ont`) now also accept a `remoteUrl` parameter.  Depending on the given `format` parameter, corresponding Accept header is set for purposes of content negotiation with the remote server.

[2017-02-28 20:17] carueda opened #43 "capture log message for ontology version registration"
Optional; only for informational purposes; not captured in any semantic property.

[2017-02-28 20:20] #43 closed

[2017-03-03 21:18] carueda opened #44 "failing to load external ontology for mapping"
When indicating external URI in mapping tool:

![image](https://cloud.githubusercontent.com/assets/556505/23569377/d3581a5e-0013-11e7-85bb-f079e0e84e63.png)

this is bacause:
- need to follow-redirects
- detect format

This is already done elsewhere (upload remote URL for registration)

[2017-03-03 21:20] #44 closed

[2017-04-12 01:50] lewismc opened #45 "Upgrade Apache Jena to 3.2.0"
ORR currently uses [Jena version 2.11.1](https://github.com/mmisw/orr-ont/blob/master/project/build.scala#L19) which is old and still contains the old HP package naming convention. This has now been changed to org.apache.jena so hopefully updating the version and package naming should be all that is required to perform the upgrade. I'll send a pull request with exactly that.

[2017-04-12 01:56] carueda commented on #45
Yes, definitely!  Thanks for the reminder!

I in fact started using the newer version in other projects, most recently https://github.com/mmisw/orr-reg

[2017-04-12 01:56] lewismc commented on #45
Working on a pull request just now.

[2017-04-12 02:21] carueda commented on #45
Tests should be performed by Travis by the time you submit your PR (I think). Anyways, if you want to test locally, just have MongoDB running on its default port 27017. If this represent overhead for you, I can take care of the tests from your fork after I get the PR notification.  Thanks again for the offer to contribute!!

[2017-04-12 02:22] lewismc commented on #45
See #46

[2017-04-12 02:24] carueda commented on #45
Exactly what I was saying ; )  -- Travis is doing the tests for us.

[2017-04-12 02:26] lewismc commented on #45
https://travis-ci.org/mmisw/orr-ont/jobs/221190663

[2017-04-12 02:26] carueda commented on #45
Hmm, seems to be failing in the same way.  I'll take a look closer by cloning your fork and testing locally on my side.

[2017-04-12 02:31] lewismc commented on #45
ack

[2017-04-12 02:36] carueda commented on #45
I just reproduced the issue locally.  Although the Jena class names and method signatures have not changed (so compilation completes just fine),  it seems that there's some API semantic discrepancy somewhere, which is causing the issue.  This is not completely clear and I will need to review the Jena calls and possible use of deprecated methods, differences in behavior, etc.  I'll let you know of

[2017-04-12 02:38] lewismc commented on #45
ok doke, sounds good. I'll also try debugging the tests and see what I can come up with.

[2017-04-12 04:41] carueda commented on #45
Hmm, I'm actually noting that SequenceSpec sometimes get stuck and never completes. The success at Travis was just a lucky run.

[code]
No more output here.

By typing `Ctrl+\` and looking at the stacktraces:

[code]

Seems like some sort of deadlock is happening in Jena (or in ORR code in combination with class initializations in Jena).

SequenceSpec itself runs pretty much in sequence so the con

[2017-05-19 16:45] carueda opened #47 "upgrade web framework"
As mentioned elsewhere in the wiki, given that Scalatra has not been showing the level of community activity and enthusiasm that it enjoyed a good while ago, the proposal here is to migrate to a much more active and supported web framework.  [Akka HTTP](http://doc.akka.io/docs/akka-http/current/scala.html) and [Play Framework](https://www.playframework.com/) look like among the most attractive alt

[2017-05-29 22:58] carueda commented on #45
I just reproduced the issue about SequenceSpec getting stuck. Attached is the output upon a `Ctrl+\`.

[jena32_stacks.txt](https://github.com/mmisw/orr-ont/files/1036889/jena32_stacks.txt)

[2017-05-30 01:52] #45 closed

[2017-05-30 01:54] carueda commented on #45
The observed deadlock misbehavior seems to have been fixed by calling `JenaSystem.init()`
at the very beginning of the tests.

Per https://jena.apache.org/documentation/notes/system-initialization.html,  "Initialization occurs when JenaSystem.init() is first called." Although it then says, "Jena ensures that this is done when the application first uses any Jena code by using class initializers," w

[2017-05-30 02:57] carueda commented on #35
Closing based on the already implemented operation.
Open a new entry for any additional needed adjustments/fixes.

[2017-05-30 02:57] #35 closed

[2017-05-30 03:11] carueda commented on #45
@lewismc Lewis, FYI I just enabled the resulting new ORR version with the underlying Jena libraries (now 3.3.0) in the MMI ORR instance at https://mmisw.org/ont/. The ORR there is now 3.5.0.  I just upgraded the MMI ORR instance from the old v2 and took the opportunity to include this library update as part of the ongoing tests.  I will of course update the COR instance in due course.

[2017-05-30 04:57] lewismc commented on #45
Excellent @carueda I'm also working with Jena master so it is looking good. Please ping me if you experience any persistent issues. Thanks

[2017-05-30 17:39] lewismc opened #48 "How much of "MMI's Constructing URIs for Ontologies" documentation does orr-ont enforce?"
Hi @carueda, @graybeal recently pointed me to [MMI's Constructing URIs for Ontologies documentation](http://marinemetadata.org/apguides/ontprovidersguide/ontguideconstructinguris), which makes a very clear case for solid URI construction. I wonder how much of this guidance (best practice???) does orr-ont enforce at the ESIP COR?

[2017-05-30 18:43] carueda commented on #48
Hi @lewismc

Thanks for your question. I'll have to review the document again to give a more concrete answer (also in consideration to the various relevant changes in v3 wrt to the initial ORR version from those times), but for the moment here's some initial response.

@graybeal can provide a much better response about the history and status of that document.

Not much in general. Again I'll have

[2017-05-30 18:52] graybeal commented on #48
Many of these were recommendations on how to publish ontologies generally, applicable to both ontology creators and repositories. As recommendations, we sometimes elected not to fully follow them, and now there are several I would probably choose to update.

I know we dropped '$' as a placeholder for 'latest version'. I believe we intend to still be supporting the timestamp-version dereferencing,

[2017-05-31 17:40] carueda commented on #32
(just some personal note)

ORR uses both Apache Jena and OWL-API libraries.

Jena: Although claimed to be "incomplete", https://jena.apache.org/documentation/notes/iri.html offers some acceptable description of how to deal with IRIs. In particular, Jena seems to put great attention to **validation**.

OWL-API:  There's some Javadoc for their [`IRI` class](http://owlcs.github.io/owlapi/apidocs_5/in

[2017-05-31 20:36] #32 closed

[2017-06-01 02:31] carueda commented on #40
@graybeal any comments?

[2017-06-01 05:13] graybeal commented on #40
I've engaged in 3 different ontology versioning discussions/threads in the last 24 hours, counting my update of https://marinemetadata.org/apguides/ontprovidersguide/ontguideconstructingiris, so I suppose I should pony up.

I agree users should have the option of setting the version attribute if they are submitting on ontology; it is a best practice we should not override. I think the demand is no

[2017-06-01 05:13] graybeal commented on #40
Note the information re versioning with OWL 2:

* https://www.w3.org/2007/OWL/wiki/Ontology_Versions
* https://www.w3.org/TR/owl2-syntax/#Ontology_IRI_and_Version_IRI
* https://www.w3.org/TR/owl2-syntax/#Versioning_of_OWL_2_Ontologies

[2017-06-01 16:52] carueda commented on #40
Thanks for the pointers. In particular I'm happy to see very good alignment in ORR to what's said in https://www.w3.org/TR/owl2-syntax/#Versioning_of_OWL_2_Ontologies. But I still have to look more closely and see what might be appropriate to incorporate as key basic functionality in the ORR.

(Since your previous comment includes aspects of "best practices", just one general observation. In v3 of

[2017-06-03 00:02] carueda opened #50 "term search and other queries"
This is about determining possible triple store queries that could be exposed through the main ORR endpoint with a simpler interface. For example, for a "term search" the user or client application can just make requests that look like:

-  `GET ../term?containing=sensor`
-  `GET ../term?skosMatch=termIri&relation=closeMatch`
-  `GET ../term?sameAs=termIri`
-  `GET ../term?regex=someregex`
- and s

[2017-06-03 00:16] carueda commented on #50
@lewismc ,  @graybeal  FYI in case of any comments/suggestions.  See also https://github.com/mmisw/orr-portal/issues/112 . Thx.

[2017-06-03 14:28] #50 closed

[2017-06-03 18:47] carueda commented on #50
In ORR 3.6.2 (only deployed for the MMI ORR instance at time of writing) I have implemented a first version of providing a simplified mechanism for semantic queries, see https://mmisw.org/ontapi/#!/term/get_term for a description of the nee `/term` API route.

Some direct examples:

- https://mmisw.org/ont/api/v0/term?containing=sensor&in=s&limit=2
- https://mmisw.org/ont/api/v0/term?predicate=sko

[2017-06-10 20:03] carueda commented on #48
The ontguideconstructingiris link now redirects to [ontguideconstructingiris](https://marinemetadata.org/apguides/ontprovidersguide/ontguideconstructingiris), where John has been doing some revisions.

Here are some additional comments by looking at (part of) the new/modified contents:

(John, this includes some observations/suggestions for your ongoing revision, hope including them here is ok.)

[2017-07-07 15:25] carueda opened #52 "ontology self-resolution handled as term request"
This is a regression (noted while trying http://labs.sparna.fr/skos-testing-tool/).

Example with `http://mmisw.org/ont/cf/parameter`:

[code]

Note that resolution through the API is fine:

[code]

[2017-07-21 19:37] #52 closed

[2017-07-21 19:54] carueda commented on #48
@lewismc Lewis, I'm closing this as resolved. Feel free to let me know of any further questions and/or enter new issues as needed.

[2017-07-21 19:54] #48 closed

[2017-07-21 20:11] carueda commented on #52
BTW, regarding http://labs.sparna.fr/skos-testing-tool/, I just entered https://github.com/tfrancart/skos-testing-tool/issues/5

[2017-07-24 20:50] lewismc commented on #48
Nothing for the time being. Thank you for commenting here, it makes excellent reference for the ESIP SemTech Committee to move forward. @graybeal please also consider reviewing the comments from @carueda above. If we decide to move SWEET forward based upon the above referenced document (which I strongly support) then we should make sure the ORR/COR provides complete supporting functionality.

[2017-07-27 13:50] pbuttigieg commented on #41
Greetings all! ENV:earth_africa:  developer here.

Auto-synchronising with ontology releases is very essential. As you probably know, tools like [OntoBee ](http://www.ontobee.org/) and EBI's [OLS](https://www.ebi.ac.uk/ols/index) have good auto-updating approaches which make sure there's no version (and therefore semantic) drift.

We (and other OBO ontologies) are using GitHub tagged releases when

[2017-07-27 14:36] carueda commented on #41
Thanks Pier.

As discussed yesterday (offline), and given that the automated havesting is still a TODO, I'm just going to remove this entry from the COR. Then, if you'd like, you can go ahead and exercise uploading ENVO and let us know how it goes.   Ah, a related issue entry is https://github.com/mmisw/orr-portal/issues/62

[2017-07-27 14:42] carueda commented on #41
Unregistration complete.
Please go ahed with the new registration at your convenience.  New organization created, http://cor.esipfed.org/ont/#/org/obo , with plbuttigieg as member.  Thanks!

[2017-07-27 15:47] carueda commented on #41
(oops, seems like I clicked the wrong button before -- this is still open)

[2017-09-15 17:54] carueda commented on #40
@lewismc fyi the referenced ticket briefly mentioned today.

[2017-09-20 20:44] carueda opened #54 "enable "ttl" as a stored format"
"ttl" started being handled exactly as "n3" due to some Jena idiosyncrasies/limitations a good while ago and that I don't recall well. Time to enable turtle properly.

[2017-09-20 20:46] #54 closed

[2017-10-03 00:13] carueda opened #55 "any additional mechanisms for format/serialization resolution?"
The ORR supports two mechanisms to resolve ontology and term requests in a desired format or serialization:  i) **content negotiation** as the main mechanism for programmatic access; and ii) via `format` parameter as a convenience mainly for users when entering the request in a browser.

The resolution of desired format via 'file-type extension' in previous major version 2 has not been implemented

[2017-10-04 19:05] lewismc commented on #41
Hi @carueda I think the approach you've highlighted in https://github.com/mmisw/orr-ont/issues/41#issuecomment-280550297 makes perfect sense.

[2017-10-11 23:07] dr-shorthair commented on #55
Suggest also supporting `_format` which is the key built-in to the Linked Data API
see https://github.com/UKGovLD/linked-data-api/blob/wiki/API_Query_Parameters.md

[2017-10-12 03:28] #55 closed

[2017-10-12 03:31] carueda commented on #55
I have implemented this "file-type extension" resolution.
Also, included check for `_format` parameter in case `format` is not given.

All of this available as of v.3.6.7 of the system.

[2017-10-12 15:16] carueda commented on #55
COR instance just upgraded to v3.6.7.
See https://github.com/ESIPFed/sweet/issues/51

[2017-10-12 15:28] carueda commented on #55
The recognized formats via file extension (or `format` or `_format` parameter) are:

| File&nbsp;ext  | Mime type             | Reference|
|-----------|------------------------|----------|
| `rdf`     | application/rdf+xml    | https://www.w3.org/TR/REC-rdf-syntax/ |
| `owl`     | application/rdf+xml    | https://www.w3.org/TR/REC-rdf-syntax/ |
| `owx`     | application/owl+xml    | https://www.w3

[2017-10-23 06:53] dr-shorthair opened #57 "User-friendly HTML view"
The standard HTML rendering of a vocabulary element is for RDF afficionados only.
For example
http://cor.esipfed.org/ont/?iri=http://www.w3.org/ns/sosa/Sensor
just lists the immediate properties, using the URIs or literals, or blank-node IDs.
Almost N3.

I realise you won't want to get too far into prettifying this, but maybe one step along the path could make COR/ORR end-user friendly enough.

Id

[2017-10-23 17:56] graybeal commented on #57
These are great proposals. I think I've always wanted to prettify this, and maybe SWEET and/or ESIP will prove a motivator for more resources to help get it done.

I'd add to the suggestion list that this view be treated as more of a first-class object, describing everything about the concept that can be readily captured (history and other provenance, highlighting significant changes, usage by map

[2017-10-24 04:53] dr-shorthair commented on #57
Right - CBD+ is a specific graph for each URI.
Therefore it has its own URI, but also may the end destination of a default redirect of the URI for the node.

[2017-12-19 23:04] carueda opened #61 "LD friendly term response"
(summarized from recent email thread. Thanks Nick Car, @dr-shothair, @lewismc .  )

Currently, **term requests** are internally handled via SPARQL query.

By default (and this may actually vary depending on the default accept header -or lack thereof- from the requesting client), the response is in one of the SPARQL Response formats, like https://www.w3.org/TR/rdf-sparql-XMLres/.

Two desiderata he

[2017-12-19 23:39] nicholascar commented on #61
HTTP Content Negotiation calling for a SPARQL response for URI dereferencing (e.g. Accept: application/sparql-results-xml) cannot be the entire solution since the query used to generate the data returned is not known. One assumes DESCRIBE <URI> is used but this may not be the case or an accepted convention. Also a DESCRIBE query will not expand blank nodes related to the dereferenced URI via an ob

[2017-12-19 23:53] dr-shorthair commented on #61
I don't think this is correct. DESCRIBE response is the prerogative of the service provider. CBD https://www.w3.org/Submission/CBD/  is one option that does expand blank nodes.

[2018-01-05 23:27] carueda opened #62 "Review implementation wrt Linked Data Platform spec"
https://www.w3.org/TR/ldp/

[2018-01-15 00:01] carueda opened #63 "remove requirement for format parameter"
Currently, even for the special value `_guess`, such `format` parameter is required. Make it optional (with the `_guess` effect when absent.

[2018-02-22 21:53] carueda opened #64 "reasoning and inferencing in SPARQL endpoint"
The ORR uses (a no-const version of) https://allegrograph.com/ to power its triple-store and SPARQL endpoint.

Although AG does support some common reasoning and inferencing mechanisms this feature has not been enabled by default in the ORR, mainly due to rather poor performance behavior when these capabilities were tests **a long time ago**.

The task here is to revisit this aspect, initially wit

[2018-02-23 00:10] lewismc commented on #64
Possibly, when a resource is registered, the user can optionally run this functionality and/or it can be run on a nightly??? basis and the registered user emailed if and when there are issues flagged.

[2018-07-26 15:18] graybeal opened #65 "upgrade allegrograph"
Responding to https://github.com/ESIPFed/cor/issues/52 Carlos mentions upgrading Allegrograph (perhaps to help with Allegrograph not responding?).

[2018-07-26 15:19] graybeal opened #66 "include timeout in requests to Allegrograph"
To better handle cases where Allegrograph stops responding, add timeout to requests, so that system can report issue and continue running.

[2018-09-07 02:36] carueda opened #67 "Timeout while processing ontology operation"
Issue previously captured under the COR instance: https://github.com/ESIPFed/cor/issues/56 (in turn captured from https://github.com/ESIPFed/sweet/issues/80).

[2019-01-09 03:14] carueda opened #68 "Compressed responses"
That is, basically support Accept-Encoding:gzip .

The short-term solution would be to use a more recent scalatra version that provides this feature, see http://scalatra.org/guides/2.6/http/gzip.html.

However, per #47 , a longer-term solution is to use the relevant feature when migrating to a more active web toolkit in general.

[2019-01-15 22:12] #68 closed

[2019-01-15 22:13] carueda commented on #68
As noted in the changelog, Actually scalatra 2.3.0 does seem to support gzip
http://scalatra.org//guides/2.3/http/gzip.html
(btw, upgrading scalatra will certainly require significant effort;
I just gave it a quick try and many compile errors arise)

[2019-01-16 05:53] carueda commented on #68
The new ORR version including this is 3.8.1, which I've enabled for the COR instance.

A basic verification using HTTPie:

[code]

[2019-01-19 07:40] carueda opened #69 "Redirect to portal if HTML is requested"
See https://github.com/ESIPFed/sweet/issues/70

More concretely: when the `format=html` query parameter is included or the `Accept` header contains `text/html`(typically the case from browsers) in the ontology or term request, then it will be immediately dispatched with redirection to the portal.

@lewismc FYI

[2019-01-19 07:45] #69 closed

[2019-01-19 08:15] carueda commented on #69
COR instance updated with the new 3.8.2 release.

You can now trying clicking in your browser:

- http://sweetontology.net/stateVisibility
- http://sweetontology.net/stateTimeGeologic/0.0117MYA

Or, explicitly indicating `format=html` or `Accept: text/html` in your preferred command line program, eg:

[code]

[code]

[2019-01-31 20:03] carueda opened #70 "Update API spec to recent OpenAPI version"
The one currently used is old.

Related: https://github.com/mmisw/orr-ont/issues/24

@lewismc fyi a we just talked about as part of the corpy wrapper and your pyldn work.

[2019-02-01 18:56] lewismc commented on #70
yes @carueda I think this may even be the source of some of our issues with corpy. I'll see if I get some time to dig into this.

[2019-02-01 19:10] carueda commented on #70
@lewismc Lewis, as you may have already noted from #24, the spec is currently manually edited. So, assuming a similar "approach", the idea would be to load http://cor.esipfed.org/ontapi/swagger_cor.yaml into http://editor.swagger.io/ and start by changing the first line from `swagger: '2.0'`  to `openapi: '3.0.0'`, and dealing with the reported errors. Not sure how effective this strategy would be

[2019-02-01 21:36] lewismc commented on #70
OK @carueda I'm going to work on it right now.

[2019-02-02 01:58] lewismc commented on #70
Hi @carueda I have an openapi 3.0.2-compliant yaml version of the ORR API available. I am not sure where to send the pull request though. The [swagger.yaml in this repository](https://github.com/mmisw/orr-ont/blob/master/swagger.yaml) is out of date (should we delete it?) The [MMI version](https://github.com/mmisw/mmiorr-docs/blob/master/docs/swagger.yaml) is specific of course to MMI. Where shoul

[2019-03-02 20:19] maykillmore commented on #63
Sir @lewismc @carueda I'd like to take up this issue if it's okay?

[2019-03-04 03:24] veer11997 commented on #63
@lewismc @carueda i want to contribute on the current project ideas and i would like to solve some of issue .

[2019-03-04 15:45] lewismc commented on #63
@maykillmore yes please go ahead...

[2019-03-04 15:46] lewismc commented on #63
@veer11997 thanks for registering your interest in the project.
Arr you interested in GSoC or generally in the project?
Are you interested in front end or backend development?

[2019-03-06 03:49] veer11997 commented on #63
@lewismc  intially i would like to go ahead with the front end development.

[2019-03-06 04:38] carueda commented on #63
@veer11997 Thanks your interest!

As you may have already noted, https://github.com/mmisw/orr-portal is the repo for the frontend. Its [development.md](https://github.com/mmisw/orr-portal/blob/master/development.md) file should still be accurate enough, but in any case I just put together some "fresh" notes in a new wiki https://github.com/mmisw/orr-portal/wiki/Development .  Please give it a try

[2019-03-06 06:07] lewismc commented on #63
Thanks @carueda

[2019-03-06 06:08] lewismc commented on #63
@veer11997 are you interested in GSoC?

[2019-03-07 03:34] veer11997 commented on #63
@lewismc  i am really interested in Gsoc 2019 and want to contribute in  opensource.

[2019-03-07 04:55] lewismc commented on #63
@veer11997 excellent. We have a couple of possible projects here. Have you see both https://github.com/ESIPFed/gsoc/issues/18 and https://github.com/ESIPFed/gsoc/issues/12 ? Do any of these interest you? If so then please consider applying to GSoC this year and begin thinking about a proposal.

[2019-03-07 05:15] veer11997 commented on #63
@lewismc  sir i am interested in the ESIPFed/gsoc#18  project .i am trying to solve the issue and as you said to go ahead to proposal i  will do it as soon as possible.thanks for your all the supports.

[2019-03-07 19:05] veer11997 commented on #63
@carueda  @lewismc  sir i had tried these and i had done it https://github.com/ mmisw/orr-portal/wiki/Development . so sir whatever  the your instruction will be given ,i will try to do.

[2019-03-07 20:14] carueda commented on #63
@veer11997 Glad to hear the orr-portal environment setup instructions worked for you.

Have you taken a look at the current list of orr-portal issues? We know, there are different levels of difficulty associated, and I just started marking some as `good first issue`: https://github.com/mmisw/orr-portal/labels/good%20first%20issue .  Again, let's please  continue any orr-portal related discussions

[2019-03-07 20:47] carueda commented on #63
@veer11997 I just noted [your new account](https://mmisw.org/ont/#/user/veer11997) on the MMI ORR. That's good thanks. Perhaps you should also create one under the COR instance moving forward, http://cor.esipfed.org/ont .

[2019-03-09 11:59] veer11997 commented on #63
@carueda  yes you got that so right about my new account .at the time i am focusing on trying to solve the issue and as well as the  trying to understand about the project ESIPFed/gsoc#18 as i mentioned earlier that i would like to work on the project.

[2019-03-09 14:36] lewismc commented on #63
@veer11997 what is the issue? Can you post an error trace?

[2019-03-20 05:37] veer11997 commented on #63
sorry !! their is my mid term held in last weak at my college so i didn't work. but i am free to work and having much more time to work at project .

[2019-07-14 22:40] graybeal opened #72 "returned RDF properties (for XSV input) don't look right"
Using http://cor.esipfed.org/ont/~graybeal/skostest as my example:

If I download a term as RDF/XML, the term looks like
[code]

Which is what I expect. If I download the whole ontology as RDF/XML, the relevant part looks like
[code]
(where the j.1 is the same as skos in the earlier example).

It looks to me like the rdf:resource  values are missing in the second case.

[2019-10-18 20:29] lewismc commented on #64
@carueda I totally missed this. I think we should focus on demonstrating this at the next COR telecon. What have we got to loose?
From memory, can you provide details on the following
* how long did it take
* what were the commands you had to execute on the server?
* what was the output?

I feel that we should run reasoning and inference plugins and then analyze the results. This would be benefici

[2020-04-02 15:26] graybeal opened #73 "can't fully unregister ontology"
Working with ontology AWWM (https://mmisw.org/ont/~mohammedajooz/AWWM# , 20181209T171335), making this ontology private did not make it disappear from the listings. I went through all 3 versions and made them private, but it still didn't disappear.

I unregistered all 3 versions. Now when I click on the link in the ontologies list, it shows a single property.

Same thing happened with https://mmis

[2020-04-02 15:38] graybeal opened #74 "ontology entries are just remnants"
Can you please delete (in the backend) anything related to the MMI ontology https://mmisw.org/ont/~webmining/MWSontologySVU/ ?  When I click on it I get IRI not found, but it appears in the list of ontologies.

After I unregistered the ontology at https://mmisw.org/ont/~mohammedajooz/AWM, got the same result for that ontology.

[2020-04-02 15:56] graybeal opened #75 "does setting ontology private affect all versions?"
I identified a few ontologies on MMI ORR (see https://github.com/mmisw/orr-ont/issues/73 for examples) where the current version was set to private, but one or more older versions (not all the older versions) were set to public.

Since last year I set the ontology to private, I'm having a hard time understanding how some of the intermediate versions would be set to public, and some to private, unl

[2020-04-03 16:13] carueda commented on #75
No.  The visibility attribute is per version (as is status).   Example below.

It is set to whatever version the user is currently looking at (which could be the latest, or any other version).

----
The special `!md` format(*) can be used to retrieve all version of a registered ontology, e.g.,
 https://mmisw.org/ont/cf/parameter?format=!md

![image](https://user-images.githubusercontent.com/556505

[2020-04-03 16:21] carueda commented on #73
Admins will always see all registered ontologies regardless of visibility.  What I do is open an "incognito" window to check what's visible as a casual user.

This sounds like the ontology unregistration completed ok (that is, from the mongo db), but not completely from the triple store.  Probably some issue with agraph upon the recent https://github.com/mmisw/orr/wiki/mmi-orr-migration-to-xdomes-

[2020-04-03 16:24] carueda commented on #73
I just repopulated the triple store (which you can do as admin - https://mmisw.org/ont#/ts) and the links above now respond with "IRI not found"). (*Note*: I'm not saying this an actual fix to the issue. I still have to look into it.)

[2020-04-03 16:25] graybeal commented on #73
Yes, I did use incognito window, including refreshing cache. The ontology was still listed.

[2020-04-03 16:25] carueda commented on #74
Let's close this one and continue with #73

[2020-04-03 17:07] carueda commented on #73
Is it still listed?

[2020-04-03 17:52] graybeal commented on #73
yes, 6th one down

![Screen Shot 2020-04-03 at 10 51 46 AM](https://user-images.githubusercontent.com/1266896/78390349-3fdb3c80-7599-11ea-8d1f-21aea4bb0509.png)

[2020-04-03 19:29] carueda commented on #73
Ok, so it's the one listed as

         https://mmisw.org/ont/~mohammedajooz/AWWM#

which, when clicked, you get

The trailing hash `#` has been "lost" because it's not being encoded (`%23`).

So, this is a regression as we have addressed similar issue in the past (a related entry is (https://github.com/mmisw/mmiorr/issues/213).

BTW, with proper encoding, I can see that there's an ontology regist

[2020-04-03 19:31] carueda commented on #73
BTW, the place to resolve this issue in on the GUI (orr-portal), but let's keep the entry here for now.

[2020-04-03 23:40] carueda commented on #73
Conclusion regarding the `#` encoding issue:  This is already fixed (all involving only the frontend component) and I'll be releasing and deploying a 3.9.1 version shortly (for the MMI ORR initially).

----

@graybeal Once 3.9.1 is in place, please review the original problems in this ticket and update as appropriate.

[2020-04-04 00:45] carueda commented on #73
3.9.1 just deployed for the MMI ORR https://mmisw.org/ont .

[2020-04-04 01:16] carueda commented on #74
RE-opening now that the other issue (related but not quite the same) has been resolved (3.9.1).

In this case, the ontology IRI has a trailing slash, however, it's been handled without it for resolution:

[2020-04-04 02:31] carueda commented on #74
@graybeal 3.9.2 deployed for the MMI ORR with fix to https://github.com/mmisw/orr-portal/issues/156.

Now, you should be able to do the unregistration with the correct IRI.

![image](https://user-images.githubusercontent.com/556505/78416869-3d9cd080-75e1-11ea-9788-4553cc7a0fa2.png)

[2020-04-04 02:35] carueda commented on #74
ORR 3.9.2 already deployed for:
• https://mmisw.org/ont
• https://xdomes.tamucc.edu/ont
• http://cor.esipfed.org/ont

[2020-04-04 05:06] graybeal opened #76 "weird issue accessing ontology"
In another edge case, clicking on  the middle ontology in the first image (that shows a section of a search page for 'waseem') yields the page in the second image. Note that URL in the second image has 'ont#' as the ontology name.

![Screen Shot 2020-04-03 at 10 02 32 PM](https://user-images.githubusercontent.com/1266896/78419110-1a7d1b80-75f7-11ea-9a5e-42bfc52946d5.png)

![Screen Shot 2020-04-03

[2020-04-04 05:08] graybeal commented on #76
Ewwww.  Even worse, clicking on the main logo for the repository to go to its home page takes you to https://mmisw.org/ont#/, which of course is empty. I *really* can't imagine how that happens.

[2020-04-04 05:18] graybeal commented on #76
@carueda See slack for additional comments.

[2020-04-04 15:52] carueda commented on #76
Seems like this user `wa_mj_ra_ka` registered an ontology whose IRI happens to coincide with the user page itself:  https://mmisw.org/ont/~wa_mj_ra_ka

So, yes, this is an edge case.

And yes, redirecting to https://mmisw.org/ont#/user/wa_mj_ra_ka is the expected dispatch for a user page.

For resolving the actual ontology, one can use the `iri` parameter:

https://mmisw.org/ont?iri=https://mmisw.

[2020-04-04 17:20] carueda commented on #75
Just added this section for the doc: https://mmisw.org/orrdoc/api/#special-format-for-metadata

[2020-04-05 19:58] graybeal commented on #76
Well, it was empty for me. I can't tell you why, but I thought of ont# as a different page. It's not of course, you're right.

[2020-04-06 17:13] #76 closed

[2020-04-06 17:15] #75 closed

[2020-04-15 21:06] carueda commented on #72
Just reproduced the RDF/XML outputs as indicated.

With `<topterm rdf:about="http://cor.esipfed.org/ont/~graybeal/skostest/term2">` indicating that term2 is an instance of topterm, I can see 4 triples encoded there.

XML is not my preferred way of looking at things, so, looking at this with TTL instead:

(skipping some prefixes for easier inspection, and focusing on `term2`)

First the term, http:

[2020-04-15 23:09] #63 closed

[2020-05-29 14:10] #74 closed

[2020-05-29 14:11] #73 closed

[2020-05-29 14:12] #72 closed

[2020-05-29 14:15] carueda commented on #67
Per https://github.com/ESIPFed/cor/issues/56#issuecomment-614327977

[2020-05-29 14:15] #67 closed